.aboutus {
  color: #fff;
}

* {
  font-family: "Fredoka One", sans-serif;
}

.aboutus > main {
  font-size: 5rem;
}
.aboutus > main > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-transform: capitalize;
  min-height: 100vh;
}

.hero-image {
  width: 65%;
  margin: 0 auto;
}
.hero-image > img {
  max-height: 100%;
  max-width: 100%;
}

#about-desc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-resume {
  color: #ea0f1e;
  text-decoration: none;
  font-size: 15px;
}
#about-desc > .title {
  width: 60%;
  margin: 0 auto;
}

.download-cv {
  color: #ea0f1e;
  font-size: 20px;
  display: flex;
  justify-content: center;
  width: 20%;
  margin: 10px auto 0 auto;
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
  border: 1px solid #ea0f1e;
}
.download-cv:hover {
  color: #ea0f1e;
  text-decoration: none;
}

section#about-desc > article > p {
  font-size: 24px;
  font-family: monospace;
  line-height: 1.3;
}
#about-desc > .title > h2 {
  font-size: 33px;
  letter-spacing: 3px;
  color: #ea0f1e;
}
