.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

.home__text,
.home__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  min-height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__text > ul {
  list-style-type: none;
  font-size: 9rem;
  margin: 0;
  font-family: "Fredoka One", cursive;
  color: #fff;
  line-height: 9rem;
  padding: 0;
}
.home__text > ul > li {
  cursor: pointer;
  width: fit-content;
}
.text-red {
  color: #ea0f1e;
}

.home__wrapper {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
}
.home__text,
.home__image {
  flex: 1;
}
.home__image > img {
  max-height: 100%;
  max-width: 100%;
}
.slide {
  margin-left: 3rem;
}

.about:hover,
.work:hover,
.contact:hover {
  margin-left: 50px;
  transition: 0.5s;
}

@media (max-width: 1200px) {
  .home__text > ul {
    font-size: 6rem;
    line-height: normal;
  }
}
@media (max-width: 992px) {
  .home__text > ul {
    font-size: 7rem;
    line-height: normal;
  }
  .home__image {
    display: none;
  }
  .home {
    background: url(https://i.ibb.co/j52Mcsc/back.gif) no-repeat center center;
    background-size: cover;
  }
}

@media (max-width: 575px) {
  .home__text > ul {
    font-size: 5rem;
    line-height: normal;
  }
}
